<?xml version="1.0" encoding="UTF-8"?>

<launch>
<include file="$(find nicks_bot)/launch/robot_description.launch"/>
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nicks_bot)/worlds/jackal_race.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--spawn a robot in gazebo world-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model nicks_bot"/>
  
  <!--convert pointcloud2 to laser scan-->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/velodyne_points"/>
    <remap from="scan" to="/velodyne/scan"/>
    <rosparam>
      # target_frame: camera_link
      transform_tolerance: 0.01
      min_height: 0
      max_height: 2

      angle_min: -1.5708
      angle_max: 1.5708
      angle_increment: 0.0087
      scan_time: 0.001
      range_min: 0
      range_max: 140.0
      use_inf: true

      #concurrency_level affects number of pc queued for processing and the number of threadsused
      # 0: Detect number of cores
      # 1: Single threaded
      # 2: inf : Parallelism level
      concurrency_level: 0
      </rosparam>
    </node>

  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find nicks_bot)/rviz/nick_bot_rviz.rviz"/>


</launch>
